<div class="container">
<br/>
<h1>Editing Customer</h1>
<br/>
<%= render 'form', customer: @customer %>
<br/>
<%= link_to 'Show', @customer, class:'btn btn-dark' %> 
<%= link_to 'Back', customers_path, class:'btn btn-dark' %>
</div>