<div class="container">
<br/>
<h1>Editing Repair</h1>
<br/>
<%= render 'form', repair: @repair %>
<br/>
<%= link_to 'Show', @repair, class:'btn btn-dark' %> 
<%= link_to 'Back', repairs_path, class:'btn btn-dark' %>
</div>