<div class="container">
<br/>
<h1>Editing Sale</h1>
<br/>
<%= render 'form', sale: @sale %>
<br/>
<%= link_to 'Show', @sale , class:'btn btn-dark'%> 
<%= link_to 'Back', sales_path, class:'btn btn-dark' %>
</div>